#background {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
}

.hero-circle {
    width:180px;
    height:180px;
    margin:0 auto;
    position:relative;
    border:8px solid #fff;
    border-radius:50%;
    box-shadow:0 1px 8px rgba(34,34,34,0.3),inset 0 1px 8px rgba(34,34,34,0.3);
    background:url(../img/bg.png) 0 50%;
}

.is-moment .hero-circle { background-color:rgba(0,0,0,0.878431); }

.is-moment-timezone .hero-circle { background-color:#4e7cad; }

.hero-face { 
    width:100%;
    height:100%;
}

.hero-face:after { 
    position:absolute;
    top:50%;
    left:50%;
    width:12px;
    height:12px;
    margin:-6px 0 0 -6px;
    background:#fff;
    border-radius:6px;
    content:"";
    display:block;
}

.hero-hour { 
    width:0;
    height:0;
    position:
    absolute;
    top:50%;
    left:50%;
    margin:-4px 0 -4px -25%;
    padding:4px 0 4px 25%;
    background:#fff;
    -ms-transform-origin:100% 50%;
    transform-origin:100% 50%;
    border-radius:4px 0 0 4px;
}
.hero-minute { 
    width:0;
    height:0;
    position:absolute;
    top:50%;
    left:50%;
    margin:-40% -3px 0;
    padding:40% 3px 0;
    background:#fff;
    -ms-transform-origin:50% 100%;
    transform-origin:50% 100%;
    border-radius:3px 3px 0 0
}
.hero-second { 
    width:0;
    height:0;
    position:absolute;
    top:50%;
    left:50%;
    margin:-40% -1px 0 0;
    padding:40% 1px 0;
    background:#fff;
    -ms-transform-origin:50% 100%;
    transform-origin:50% 100%
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }

main {
    flex: 1 0 auto;
  }

.search-content {
    min-width: 50vw;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../assets/bar-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.search-content div {
    width: 50vw;
    margin: 30 px;
    margin-bottom: 30px;
}

